# Get carbon intensity by country

We get our carbon intensity from [Our World In Data](https://ourworldindata.org/grapher/carbon-intensity-electricity).

>“Data Page: Carbon intensity of electricity generation”, part of the following publication: Hannah Ritchie, Pablo Rosado and Max Roser (2023) - “Energy”. Data adapted from Ember, Energy Institute. Retrieved from https://ourworldindata.org/grapher/carbon-intensity-electricity [online resource]

The data source and processing are available on [OWID Github](https://github.com/owid/energy-data).

We have to:
1. Filter for the last available year
1. Check if we not loose country we previously had.
1. Keep only the data we need
1. Export to JSON

In [3]:
import pandas as pd
import numpy as np
import json

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/owid/energy-data/master/owid-energy-data.csv")
df

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21585,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,NaN,NaN,NaN,NaN,25.910,...,0.218,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21586,Zimbabwe,2019,ZWE,15354606.0,NaN,NaN,NaN,NaN,NaN,24.748,...,0.364,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21587,Zimbabwe,2020,ZWE,15669663.0,NaN,NaN,NaN,NaN,NaN,22.336,...,0.395,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21588,Zimbabwe,2021,ZWE,15993525.0,NaN,NaN,NaN,NaN,NaN,23.760,...,0.498,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21589,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.query("country == 'India'")

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
9097,India,1900,IND,2.807142e+08,2.716975e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9098,India,1901,IND,2.818341e+08,2.773278e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9099,India,1902,IND,2.831998e+08,3.006720e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9100,India,1903,IND,2.848130e+08,3.047644e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9101,India,1904,IND,2.864353e+08,3.060750e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9215,India,2018,IND,1.369003e+09,8.835758e+12,33.945,5.170,14.902,20.401,19.883,...,2.301,1.058,14.596,19.505,159.567,44.054,60.31,116.557,3.819,1.757
9216,India,2019,IND,1.383112e+09,NaN,11.529,2.352,16.451,22.753,22.782,...,2.852,1.310,4.979,7.327,166.895,45.774,63.31,120.666,3.903,1.792
9217,India,2020,IND,1.396387e+09,NaN,-1.031,-0.235,16.126,22.518,23.532,...,3.709,1.747,-4.560,-8.195,158.700,43.276,60.43,113.650,3.820,1.799
9218,India,2021,IND,1.407564e+09,NaN,39.907,8.986,22.382,31.505,26.116,...,3.984,1.865,12.688,19.481,178.181,48.374,68.09,126.588,3.971,1.859
9219,India,2022,IND,1.417173e+09,NaN,14.897,4.693,25.542,36.198,28.747,...,5.122,2.451,2.865,4.437,182.617,49.429,70.05,128.860,3.770,1.804

In [6]:
elec_col = [c for c in df.columns.to_list() if "_electricity" in c]
nuke_col = [c for c in elec_col if "nuclear" in c]
nuke_col

['nuclear_electricity']

In [7]:
carbon_intensity_col = [c for c in df.columns.to_list() if "intensity" in c]

In [8]:
df[['country', 'iso_code', 'year'] + carbon_intensity_col + elec_col].query("iso_code=='FRA' and year==2022")

,country,iso_code,year,carbon_intensity_elec,biofuel_electricity,coal_electricity,fossil_electricity,gas_electricity,hydro_electricity,low_carbon_electricity,nuclear_electricity,oil_electricity,other_renewable_electricity,other_renewable_exc_biofuel_electricity,per_capita_electricity,renewables_electricity,solar_electricity,wind_electricity
7418,France,FRA,2022,84.879,10.03,4.41,57.28,43.19,46.29,413.39,297.88,9.68,10.61,0.58,7282.912,115.51,20.05,38.56

In [9]:
df_filtered = df[['country', 'iso_code', 'year'] + carbon_intensity_col + elec_col].query("year==2022 and iso_code.notnull()")
columns_names = {
    'country':'country_name',
    'carbon_intensity_elec':'carbon_intensity',
    'biofuel_electricity':'biofuel_TWh',
    'coal_electricity':'coal_TWh',
    'fossil_electricity':'fossil_TWh',
    'gas_electricity':'gas_TWh',
    'hydro_electricity':'hydroelectricity_TWh',
    'low_carbon_electricity':'low_carbon_TWh',
    'nuclear_electricity':'nuclear_TWh',
    'oil_electricity':'oil_TWh',
    'other_renewable_electricity':'other_renewable_TWh',
    'other_renewable_exc_biofuel_electricity':'other_renewable_exc_biofuel_TWh',
    'per_capita_electricity':'per_capita_Wh',
    'renewables_electricity':'renewables_TWh',
    'solar_electricity':'solar_TWh',
    'wind_electricity':'wind_TWh'
}
df_filtered.rename(columns=columns_names, inplace=True)
df_filtered = df_filtered[['country_name',
                        'iso_code',
                        'year',
                        'carbon_intensity',
                        'fossil_TWh',
                        'renewables_TWh',
                        'per_capita_Wh',
                        'coal_TWh',
                        'gas_TWh',
                        'oil_TWh',
                        'solar_TWh',
                        'wind_TWh',
                        'hydroelectricity_TWh',
                        'other_renewable_TWh',
                        'other_renewable_exc_biofuel_TWh',
                        'nuclear_TWh',
                        'biofuel_TWh',
                        'low_carbon_TWh']]
df_filtered.head(5)

,country_name,iso_code,year,carbon_intensity,fossil_TWh,renewables_TWh,per_capita_Wh,coal_TWh,gas_TWh,oil_TWh,solar_TWh,wind_TWh,hydroelectricity_TWh,other_renewable_TWh,other_renewable_exc_biofuel_TWh,nuclear_TWh,biofuel_TWh,low_carbon_TWh
751,Algeria,DZA,2022,NaN,NaN,0.769,2040.895,NaN,NaN,NaN,0.682,0.01,0.077,0.000,NaN,0.00,NaN,0.769
916,Angola,AGO,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN
1123,Argentina,ARG,2022,344.307,90.96,45.250,3157.086,2.14,76.00,12.82,2.910,14.02,26.150,2.170,0.0,7.47,2.17,52.720
1675,Australia,AUS,2022,501.700,182.69,90.860,10449.849,130.93,46.29,5.47,38.840,31.65,17.120,3.246,NaN,0.00,3.25,90.860
1840,Austria,AUT,2022,158.222,14.95,50.970,7373.917,0.14,11.37,3.44,2.930,6.96,35.540,5.540,0.0,0.00,5.54,50.970

In [10]:
columns_to_sum = ["fossil_TWh", "renewables_TWh", "nuclear_TWh"]
df_filtered['total_TWh'] = df_filtered[columns_to_sum].sum(axis=1)
df_filtered.head(2)

,country_name,iso_code,year,carbon_intensity,fossil_TWh,renewables_TWh,per_capita_Wh,coal_TWh,gas_TWh,oil_TWh,solar_TWh,wind_TWh,hydroelectricity_TWh,other_renewable_TWh,other_renewable_exc_biofuel_TWh,nuclear_TWh,biofuel_TWh,low_carbon_TWh,total_TWh
751,Algeria,DZA,2022,NaN,NaN,0.769,2040.895,NaN,NaN,NaN,0.682,0.01,0.077,0.0,NaN,0.0,NaN,0.769,0.769
916,Angola,AGO,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.000

In [11]:
df_filtered.query("iso_code=='FRA'")

,country_name,iso_code,year,carbon_intensity,fossil_TWh,renewables_TWh,per_capita_Wh,coal_TWh,gas_TWh,oil_TWh,solar_TWh,wind_TWh,hydroelectricity_TWh,other_renewable_TWh,other_renewable_exc_biofuel_TWh,nuclear_TWh,biofuel_TWh,low_carbon_TWh,total_TWh
7418,France,FRA,2022,84.879,57.28,115.51,7282.912,4.41,43.19,9.68,20.05,38.56,46.29,10.61,0.58,297.88,10.03,413.39,470.67

In [12]:
df_filtered.query("iso_code=='ARE'")

,country_name,iso_code,year,carbon_intensity,fossil_TWh,renewables_TWh,per_capita_Wh,coal_TWh,gas_TWh,oil_TWh,solar_TWh,wind_TWh,hydroelectricity_TWh,other_renewable_TWh,other_renewable_exc_biofuel_TWh,nuclear_TWh,biofuel_TWh,low_carbon_TWh,total_TWh
20036,United Arab Emirates,ARE,2022,407.975,127.67,6.97,16389.973,0.0,127.67,0.0,6.96,0.0,NaN,0.007,NaN,20.1,0.01,27.07,154.74

renewables_Twh = hydroelectricity_Twh + wind_Twh + solar_Twh + other_renewable_Twh

RTE Production

![RTE](2023-07-07-22-40-48.png)

In [13]:
# French electricity consumption in 2022 from https://ourworldindata.org/grapher/elec-mix-bar?stackMode=absolute&facet=metric&country=~FRA
# 57 TWh fossil + 298 TWh nuclear + 116 TWh renewable = 471 TWh
# From https://bilan-electrique-2021.rte-france.com/# we read 522 TWh for Production, but 468 TWh of consumption.
# Here we found 470 TWh, which is pretty close.

df_filtered.query("iso_code=='FRA'")["total_TWh"].values[0]

470.67

In [14]:
energy_mix = {}
missings = []
for code in df_filtered['iso_code'].unique():
#for code in ['FRA', 'AFG', 'VNM']:
    # print(code)
    df=df_filtered.query("iso_code == @code")
    max_year = df.year.max()
    #if df.isnull().values.any() == False:
    if len(df)>0 and not np.isnan(df.loc[df.year == max_year].iloc[0]["carbon_intensity"]):
        energy_mix[code]=df.loc[df.year == max_year].iloc[0].replace(np.nan, 0).to_dict()
    else:
        missings.append(code)
print(f"Missing carbon_intensity for {len(missings)} countries over {len(df_filtered)}.")

Missing carbon_intensity for 35 countries over 116.

In [19]:
energy_mix["ARE"]

{'country_name': 'United Arab Emirates',
 'iso_code': 'ARE',
 'year': 2022,
 'carbon_intensity': 407.975,
 'fossil_TWh': 127.67,
 'renewables_TWh': 6.97,
 'per_capita_Wh': 16389.973,
 'coal_TWh': 0.0,
 'gas_TWh': 127.67,
 'oil_TWh': 0.0,
 'solar_TWh': 6.96,
 'wind_TWh': 0.0,
 'hydroelectricity_TWh': 0,
 'other_renewable_TWh': 0.007,
 'other_renewable_exc_biofuel_TWh': 0,
 'nuclear_TWh': 20.1,
 'biofuel_TWh': 0.01,
 'low_carbon_TWh': 27.07,
 'total_TWh': 154.74}

In [16]:

np.isnan(df_filtered.loc[df_filtered.iso_code == "ARE"].iloc[0]["carbon_intensity"])

False

In [17]:
with open("global_energy_mix.json", "w") as outfile:
    json.dump(energy_mix, outfile, indent=4, sort_keys=True)

In [18]:
len(energy_mix.keys())
# 205 countries in 2021 and only 81 in 2022 :(

81